---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import VideoBackground from "../components/VideoBackground.astro";
import DualLogos from "../components/DualLogos.astro";
import LineUp from "../components/LineUp.astro";
import Tickets from "../components/Tickets.astro";
import Gallery from "../components/Gallery.astro";
import News from "../components/News.astro";
import Location from "../components/Location.astro";
---

<Layout title="Dängo Festival 2026 | Teotihuacán">
	<Navbar />

	<!-- 1_P Mainscreen -->
	<VideoBackground videoSrc={null}>
		<DualLogos />
	</VideoBackground>

	<!-- Placeholder Sections -->
	<Tickets />

	<!-- 2_L Line Up -->
	<LineUp />

    <!-- 3_U Ubicación -->
    <Location />

	<News />

	<section
		id="playlist"
		class="min-h-screen bg-black flex items-center justify-center"
	>
		<div class="container mx-auto px-4 py-20 text-center">
			<h2 class="text-6xl font-bold text-white mb-4">Playlist</h2>
			<p class="text-xl text-gray-400">Próximamente</p>
		</div>
	</section>

	<Gallery folder="Dango" title="DANGO" id="galeria-dango" />
    <Gallery folder="Ritual_Dango" title="RITUAL DANGO" id="galeria-ritual" />
</Layout>
